# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lxm_xray_code\Swin-Transformer-backbone-Cascade-RCNN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
